{# Language Menu #}
<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" id="dropdownLocales" data-bs-toggle="dropdown" aria-expanded="false">
        {% for locale in locales() %}
            {% if app.request.locale == locale.code %}
                <i class="fi fi-{{ locale.icon }}" title="{{ locale.name | capitalize }}"></i>&nbsp;{{ locale.name | capitalize }}
            {% endif %}
        {% endfor %}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownLocales">
        {% for locale in locales() %}
            {% if app.request.locale != locale.code %}
                <li role="menuitem">
                    <a class="dropdown-item" href="{{ this.switch(locale.code) }}"><i class="fi fi-{{ locale.icon }}" title="{{ locale.name | capitalize }}"></i>&nbsp;{{ locale.name | capitalize }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</li>
